<footer>
    <a href="http://github.com/codefornola">
      <i class="fa fa-github fa-3x" aria-hidden="true"></i>
    </a>
    <a href="http://twitter.com/codefornola">
      <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
    </a>
    <a href="https://www.facebook.com/codefornola">
      <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
    </a>
    <a href="http://www.meetup.com/Code-For-New-Orleans/">
      <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
    </a>
</footer>
