<ul class="social-icons">
  <li><a class="brand-blue" href='https://www.meetup.com/Code-for-New-Orleans/' target='_blank'><i class='fa fa-meetup'></i></a></li>
  <li><a class="brand-blue" href='https://github.com/codefornola' target='_blank'><i class='fa fa-github-square'></i></a></li>
  <li><a class="brand-blue" href='https://www.facebook.com/codefornola' target='_blank'><i class='fa fa-facebook-square'></i></a></li>
  <li><a class="brand-blue" href='https://twitter.com/codefornola' target='_blank'><i class='fa fa-twitter-square'></i></a></li>
  <li><a class="brand-blue" href='https://slack-in.herokuapp.com' target='_blank'><i class='fa fa-slack'></i></a></li>
</ul>
