// Colors
$black: #000;
$white: #fff;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$blue: #4183C4;
$cfnoBlue: #086788;

// Fonts
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
